input[type="submit"] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.acciones {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}


.delete {
    border: none;
    text-decoration: underline;
    color: blue;
    font-size: 15px;
    cursor: pointer;
    background: none;
}