html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    font-size: 1.6rem;
}

.container_idea {
    max-width: 60rem;
    margin: 0 auto;
    height: 100%;
    padding: 2.5rem;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    margin-top: 20px;
}

.idea_form label {
    display: block;
    margin-bottom: 10px;
}

.idea_form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.idea_form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.idea_form input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}