* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header_information {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 24px;
    color: #333;
}

a {
    text-decoration: none;
    color: #007bff;
}

main {
    padding: 20px;
}

.project_lead-or-part,
.projects__to-join {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
}

.all_projects,
.leader_table {
    margin-top: 20px;
}

.all_projects-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    background-color: #f9f9f9;
}

.join {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join:hover {
    background-color: #0056b3;
}