<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/question.css">
</head>

<body>
    <div class="container">
        <div class="text_container">
            <h1>Cual es tu pregunta?</h1>
            <a th:href="@{/questions}">Volver</a>
        </div>
        <form th:action="@{/questions/new}" method="post" th:object="${questionTag}">
            <label for="question">Pregunta:</label>
            <textarea name="question" id="" cols="30" rows="5" th:field="*{question.question}" required></textarea>

            <label for="tag">Etiquetas:</label>
            <input type="text" name="tag" id="" th:field="*{tag.subject}" required>
            <span th:text="${error}"></span>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>

</html>