<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/newProject.css">
</head>

<body>
    <div class="container">
        <h1>Crear un proyecto</h1>
        <form th:action="@{/projects/new}" th:object="${project}" method="post">
            <label for="title">Titulo
                <input type="text" name="title" th:field="*{title}">
                <p class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
            </label>

            <label for="description">Descripcion
                <textarea name="description" id="description" cols="30" rows="10" th:field="*{description}"></textarea>
                <p class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
            </label>
            <label for="finishDate">Fecha de finalizacion
                <input type="date" name="finishDate" id="finishDate" th:field="*{finishDate}">
                <p class="error" th:if="${#fields.hasErrors('finishDate')}" th:errors="*{finishDate}"></p>
            </label>
            <div class="buttons">
                <a th:href="@{/dashboard}">Cancelar</a>

                <input type="submit" value="Crear">
            </div>
        </form>
    </div>
</body>

</html>