<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Register!</h1>

    <form th:action="@{/registration}" th:object="${user}" method="POST">
        <p>
            <label for="email">Email:</label>
            <input type="email" name="email" required />
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" required />
        </p>
        <p>
            <label for="passwordConfirmation">Password Confirmation:</label>
            <input type="password" name="passwordConfirmation" required />
        </p>
        <input type="submit" value="Register!" />
    </form>
</body>

</html>