html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.4rem;
    line-height: 1.8;
    font-family: 'Open Sans', sans-serif;
    background-color: #062134;
    color: white;
}

a {
    text-decoration: none;
    color: white;

}

.container {
    margin: 0 auto;
    max-width: 140rem;
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem;
}

#header h1 {
    font-weight: 400;
    font-size: 3.8rem;
}

#header .header-title {
    color: rgb(25, 136, 247);
}

#header .header-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10rem;
}

.list__item-link {
    font-size: 2rem;
}

#main,
#section {
    background-color: white;
    padding: 2rem;

}

#main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.services {
    display: flex;
    justify-content: space-between;
}

.main-services {
    background-color: #1468A8;
    width: 40rem;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
}

.main-services p {
    width: 34.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.main-image img {
    width: 100%;
}

.service-title {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.main-services h2 {
    font-weight: 400;
    font-size: 3rem;
}

.icon {
    width: 5rem;
    background-color: white;
    border-radius: 50%;
}

.btn {
    background: rgb(17, 106, 162);
    background: linear-gradient(0deg, rgb(33, 130, 191) 50%, rgb(173, 226, 253) 100%);
    border: none;
    color: white;
    padding: 1.5rem 5rem;
    border-radius: .3rem;
    font-size: 1.8rem;
}

#section {
    display: flex;
    justify-content: space-between;
}

.section-information__cta-text p {
    color: black;
    font-size: 1.3rem;
    width: 34rem;
}

.section-testimonial__information {
    margin-top: 1rem;
}

.section-titles {
    color: #102A3C;
    font-weight: 400;
    font-size: 3.2rem;
}

.section-information__cta {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.section-information__cta-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-information__cta-text a {
    color: #5485A9;
}

.section-information__cta img {
    width: 50rem;
}

.section-testimonial__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}

.section-testimonial__information span {
    color: black;
}

.section-testimonial blockquote {
    background-color: #DAEDFF;
    color: #102A3C;
    padding: 3rem 4.2rem 5rem;
    width: 40rem;
    font-size: 1.8rem;
    font-style: italic;
}

.triangulo {
    width: 0;
    height: 0;
    border-right: 2rem solid transparent;
    border-left: 2rem solid transparent;
    border-top: 3rem solid #DAEDFF;
    position: relative;
    top: 7rem;
}

#footer {
    background-color: #DAEDFF;
    border-top: .1rem solid #072235;
    margin-bottom: 1rem;
}

.footer-list {
    display: flex;
    padding: 2rem;
    justify-content: center;
    gap: 4rem;
}

.footer-list__item {
    list-style: none;
}

.footer-list__item .footer-list__item-link {
    color: #102A3C;
    font-size: 1.5rem;
}

.active {
    color: #2F6388;
}

.footer-list__item .footer-active {
    color: #BCDCF7;
}