<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/create.css">
</head>

<body>

    <h1>Nueva categoria</h1>
    <form th:action="@{/categories/new}" th:object="${category}" method="post">
        <label for="name">Nombre:
            <input type="text" id="name" name="name" th:field="*{name}" required />
        </label>
        <input type="submit" value="Crear Categoria" />
    </form>
</body>

</html>